<div class="footer">
    <div class="social">
        <a href="https://www.github.com/Ananya2001-an" target="_blank" class="fa fa-github" ></a>
        <a href="https://www.linkedin.com/in/ananya-nayak-9bb2a4231/" target="_blank" class="fa fa-linkedin" ></a>
        
    </div>
</div>