<footer>
    <div class="social" style="font-family: 'Roboto Mono', monospace;font-size:13px;color: var(--font-color);">
        Contribute
        <a href="https://www.github.com/Ananya2001-an/WRITE" target="_blank" class="fa fa-github" ></a>
    </div>
</footer>