@import 'shared/header.css';
@import 'shared/footer.css';
@import 'shared/form.css';
@import 'shared/buttons.css';
@import 'shared/variables.css';

body{
    margin: 0;
    background:white;
    position: relative;
    min-height: 100vh;
}

.page-header{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.container{
    max-width: 1200px;
    margin: auto;
}

.inner-container{
    margin: 0 1rem;
    padding-bottom: 60px; 
}

.index-contents-data{
 display: grid;
 grid-template-columns: 250px 250px 250px 100px;
 grid-template-rows: auto;
 justify-content: space-between;
 align-items: center;
 font-size: 20px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 box-sizing: border-box;
 border: var(--color-base-hue);
 border-style: dotted;
 padding-left: 10px;
}

.index-contents-data-other{
    display: grid;
    grid-template-columns: 900px 300px;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border: var(--color-base-hue);
    border-style: dotted;
    padding-left: 10px;
}

.index-contents-data span, .index-contents-data-other span {
    font-weight: bold;
}

.index-contents-data a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-style: italic;
}

.index-contents-data a:hover{
    color: var(--color-base-hue);
}

.errorMessage{
    color: var(--color-base-hue-danger);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.cover-image{
    max-width: 100%; max-height: 300px; overflow: hidden;
}
.cover-image img{
    max-width: initial;
    margin: -250px 0 0 0px;
}