<div class="container">
<h2 class="page-header">Search Assignments</h2>
<div class="inner-container">
<form action="/assignments" method="get">
    <div class="form-row">
        <div class="form-item">
            <label>Name:</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        

</form>  
   
<br>
<br>

<% assignments.forEach(assign => { %>
    <div class="index-contents-data-other">
        <p><a href="/assignments/<%= assign.id %>"><%= assign.name %></a></p>
    </div>
<% }) %>

</div>
</div>