<label>Name:</label>
<input type="text" name="name" value="<%= note.name %>">
<label>Note:</label>
<textarea name="note"><%= note.note %></textarea>
<label>Cover Image:</label>
<input type="file" name="cover" class="filepond">