.btn{
    border: 2px solid black;
    outline: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-primary{
    color: black;
    background-color: rgb(225, 101, 225);
}

.btn-primary:hover{
    background-color: rgb(221, 51, 221);
}

.btn-danger{
    color: black;
    background-color: rgb(225, 67, 67);
}
.btn-danger:hover{
    background-color: rgb(218, 47, 47);
}

.btn-row{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;

}

.btn-row > *{
    margin-left: 1rem;
}