.form-row{
    display: flex;
    margin: 1rem;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.form-item:first-child{
    margin-left: 0;
}

.form-item label{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .25rem;
    margin-left: .25rem;
} 

.form-item input, .form-item select, .form-item textarea{
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid black;
    outline: none;
    color: var(--color-base-hue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus
{
    border-color:var(--color-base-hue);
    
}

.form-row-end{
    justify-content: flex-end;
}
.form-item textarea{
    height: 100%;
    resize: none;
}

.form-item select option{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.filepond--root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.filepond--panel-root{
    background-color: white;
    border: 1px solid;
    border-color: black;
}

.filepond--drop-label{
    color: var(--color-base-hue);
    font-size: inherit;

}